@font-face 
{
  font-family: 'Upheavtt';
  src: url('font/upheavtt.ttf') format ('ttf');
}
body
{
  display: flex;
  flex-direction: column;
  border: 4px solid black;
}

vieHeros
{
  display: flex;
  justify-content: space-between;
}

vieHero1
{
  display: flex;
  padding: 3px 3px 3px 3px;
  margin: 3px 3px 3px 3px;
  background-color: yellowgreen;
  border: 2px solid black;
  border-radius: 6px;
}

vieMonstre1
{
  display: flex;
  padding: 3px 3px 3px 3px;
  margin: 3px 3px 3px 3px;
  background-color: red;
  border: 2px solid black;
  border-radius: 6px;
}

scene
{
  display: flex;
  flex-direction: column;
  border: 4px solid purple;
}

combat
{
  display: flex;
  justify-content: space-around;
  border: 4px solid green;
}

heros h2
{
    background-color: yellowgreen;
    font-family: 'Upheavtt', Arial;
    font: 2em, bold, capitalize, blue;
    padding: 5px 5px 5px 5px;
    border: 3px solid black;
    border-radius: 5px;
}

monstres h2
{
    background-color: red;
    font-family: 'Upheavtt', Arial;
    font: 2em, bold, capitalize;
    padding: 5px 5px 5px 5px;
    border: 3px solid black;
    border-radius: 5px;
}

UI
{
  align-self: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid yellow;
  width: 50%;
}

skillsHero
{
  display: flex;
  justify-content: space-between;
}

#boutonAttaque
{
  display: inline-block;
  justify-content: center;
  background-color: red;
  font: 2em, bold, capitalize;
  padding: 5px 5px 5px 5px;
  border: 3px solid pink;
  border-radius: 5px;
}

#boutonDefense
{
  display: inline-block;
  justify-content: middle;
  background-color: green;
  font: 2em, bold, capitalize;
  padding: 5px 5px 5px 5px;
  border: 3px solid pink;
  border-radius: 5px;
}

#boutonPouvoir
{
  display: inline-block;
  justify-content: middle;
  background-color: blue;
  font: 2em, bold, capitalize;
  padding: 5px 5px 5px 5px;
  border: 3px solid pink;
  border-radius: 5px;
}

boiteDialogue
{
  text-align: center;
  align-self: center;
  border: 3px solid black;
  background-color: grey;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  border-radius: 5px;
  width: 400px;
}